body {
  font-family: Arial, Helvetica, sans-serif;
}

/* custom css */
.wrapper {
  @apply p-3 md:p-6 lg:p-12;
}

// ScrollBar Styling
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
